h3 {
    text-align: center;
}

body {
    background-image: url("image.jpg");
    background-size: cover;
    font-weight: bolder;
}
.title {
    text-align: center;
}
.sky {
    font-size: 20px;
    color: beige;
    position: relative;
    left: 550px;
    bottom: 10px;
}
.emoji {
    font-size: 50px;
    position: relative;
    left: 450px;
    bottom: 10px;
}
.celcius {
    font-size: 40px;
    position: relative;
    left: 440px;
    bottom: 10px;
}
strong {
    font-size: 15px;
    font-weight: bolder;
}
.link,strong {
    position: relative;
    left: 430px;
    bottom: 30px;
    color: black;
}

.details {
    position: relative;
    left: 590px;
    bottom: 80px;
    list-style: none;
}
form {
    padding-bottom: 30px;
    text-align: center;
    position: relative;
    margin-top: 40px;
}
 .Weekdays {
     padding: 80% 80%;
 }

 .temperature {
     padding: 10% 5%;
 }

 .windSpeed {
     padding: 10% 5%;
 }

 .humidity {
     padding: 10% 5%;
 }

 .row1 {
     padding: 0% 7%;
 }

 .row2 {
     padding: 0% 25%;
 }

 .row3 {
     padding: 0% 15%;
 }

 .row4 {
     padding: 0% 20%;
 }
